@using System.Linq;
@using Neo4jClient;
@model IEnumerable<TurismoCR.Models.User>

@{
    ViewData["Title"] = "Seguir Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userCookie = Context.Request.Cookies["userSession"];
    var loggedUserName = userCookie.ToString();
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm(null,null, FormMethod.Post))
{
    if (Model != null)
    {
        <table class="table table-striped">
            <tr>
		        <th> Nombre de Usuario  </th>
                <th> Nombre Completo</th>
                <th> Acción </th>
            </tr>
            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
			            <td> @i.UserName </td>
                        <td> @i.Name @i.LastName1 @i.LastName2 </td>
                        <td>
                            @if (i.UserFollowsMe(loggedUserName))
                            {
				                
                                <p data-placement="top" data-toggle="tooltip" title="Dejar de Seguir">
                                    <a class="btn btn-primary btn-xs" data-title="Unfollow" 
                                        data-toggle="modal" data-target="#unfollow"
                                        onclick="location.href='@Url.Action("UnFollow", "User", new { username = @i.UserName })'">
                                        Dejar de Seguir
                                    </a>
                                </p>
                            }
                            else
                            {
				                <p data-placement="top" data-toggle="tooltip" title="Seguir">
    				                <a class="btn btn-primary btn-xs" data-title="Follow" 
                                        data-toggle="modal" data-target="#follow"
                                        onclick="location.href='@Url.Action("Follow", "User", new { username = @i.UserName })'">
					                    Seguir
                                    </a>
					            </p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
       </table>
    }
    else
    { 
        <h2> No hay usuarios. </h2>
    }
}