@model IEnumerable<TurismoCR.Models.Servicio>

@{
    ViewData["Title"] = "Index";
}

<h2>Carrito</h2>
    <div class="container"style="width:60%;margin:2%">
        @using (Html.BeginForm(FormMethod.Post))
        {
            @if (Model != null)
            {
                <table class="table table-striped">
                    <tr>
                        <th> Categoria </th>
                        <th> Descripcion </th>
                        <th> Tarifa </th>
                        <th> Provincia </th>
                        <th> Canton </th>
                        <th> Distrito </th>
                        <th> Eliminar </th>
                    </tr>
                    <tbody>
                        @foreach (var i in Model)
                        {
                                <tr>
                                    <td>@i.Categoria</td>
                                    <td>@i.Descripcion</td>
                                    <td>@i.Tarifa</td>
                                    <td>@i.Provincia</td>
                                    <td>@i.Canton</td>
                                    <td>@i.Distrito</td>
                                    <td><input type="submit" value="Eliminar" name="Edit" formaction="@Url.Action("DeleteService", i)" formmethod="post" class="btn btn-default" /></td>
                               </tr>
                        }
                    </tbody>
               </table>
            }
        }
    </div>

