@using MongoDB.Bson;
@using static System.Convert;
@using Neo4jClient;
@using TurismoCR.Models;
@model TurismoCR.Models.CarService;

@{
    ViewData["Title"] = "Paquetes Turísticos En Oferta";
    List<Service> enabledServices = ViewBag.enabledServices as List<Service>;
    // quantity logic
    List<int> Cant = new List<int>();
    List<Object> drop = new List<Object> {
        new { value = 1 , text = "1" },
        new { value = 2, text = "2" },
        new { value = 3, text = "3"},
        new { value = 4, text = "4"},
        new { value = 5, text = "5"},
        new { value = 6, text = "6"},
        new { value = 7, text = "7"},
        new { value = 8, text = "8"},
        new { value = 9, text = "9"},
        new { value = 10, text = "10"}
    };
    var i = 1;
    var tempcar = new CarService();
    var val = "3";
}

<h2>@ViewData["Title"]</h2>
<br>
@using (Html.BeginForm(null, null, FormMethod.Post))
{
    <table id="t02">
        <thead>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Categoria</th>
            <th>Provincia</th>
            <th>Cantón</th>
            <th>Distrito</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Precio</th>
		    <th>Contacto</th>
		    <th>Mapa</th>
		    <th>Imagen</th>
            <th>Cantidad</th>
            <th>Total </th>
            <th>Agregar a carrito</th>
        </thead>
        <tbody>
            @foreach (var service in enabledServices)
            {
		        @**********************@
                var Total = "Total" + i;
		        @**********************@
                <tr>
			        @* Nombre *@
                    <td>@service.Name</td>
			        @* Descripción *@
                    <td>@service.Description</td>
			        @* Categoría *@
                    <td>@service.Category</td>
			        @* Provincia *@
                    <td>@service.Province</td>
			        @* Cantón *@
                    <td>@service.Canton</td>
			        @* Distrito *@
                    <td>@service.District</td>
			        @* Fecha inicial *@
                    <td>@service.StartDate</td>
			        @* Fecha final *@
                    <td>@service.EndDate</td>
			        @* Precio *@
                    <td>@service.Price</td>
                    @* Contacto *@
			        @{  try
                        {
                            // setting Neo4j connection
                            var client = new GraphClient(
                                // cambiar password (adrian) por el de su base Neo4j
                                new Uri("http://localhost:7474/db/data"), "neo4j", "adrian"
                            );
                            client.Connect();
                            var ownerConsulted = client
                                    .Cypher
                                    .Match("(userNeo4j:User)")
                                    .Where((User userNeo4j) => userNeo4j.UserName == @service.OwnerUsername)
                                    .Return(userNeo4j => userNeo4j.As<User>())
                                    .Results;
                            if (ownerConsulted.Any())
                            {
                                var foundOwner = ownerConsulted.First();
			                    <td>
                                    @foundOwner.Name @foundOwner.LastName1 @foundOwner.LastName2
                                    @foundOwner.PhoneNumber
                                    @foundOwner.Email
                                </td>
			                }
                            else
                            {
			                    <td> No hay datos para mostrar. </td>
                            }

                        }
                        catch
                        {
			                <td> No hay datos para mostrar. </td>
                        }
			        }
			        @* Mapa *@
			        <td>
                        <p data-placement="top" data-toggle="tooltip" title="Mapa">
                            <a class="btn btn-primary btn-xs" data-title="map" 
                                data-toggle="modal" data-target="#map"
						        onclick="location.href='https://www.google.com/maps/?q=@service.Latitude,@service.Longitude'">
                                Mapa
                            </a>
                        </p>
                    </td>
			        @* Imagen *@
                    @{
			            var base64 = @service.GetPictureString();
			        }
			        <td>
                        <p data-placement="top" data-toggle="tooltip" title="Imagen">
                            <a data-title="picture" data-toggle="modal" data-target="#picture"
						        onclick="location.href='data:image;base64,@base64'">
                                <img src="data:image;base64,@base64" width="80" height="80"/>
                            </a>
                        </p>
                    </td>
			        @* Cantidad *@
                    <td>
                        @Html.DropDownList("dropdown"+ i, new SelectList(@drop, "value",
                        "text"), new { onchange= "AddValue("+i+", "+service.Price+")" })
                    </td>
			        @* Total *@
                    <td id="@Total">
			            @service.Price
			        </td>
			        @* Agregar a carrito *@
                    <td>
                        <input type="button" value="Agregar" 
					        name="Edit" onclick="AddService(@i,
                                '@service._id',
                                '@service.RandID',
                                '@service.OwnerUsername',
                                '@service.Name',
                                '@service.Description',
                                '@service.Category',
                                '@service.Province',
                                '@service.Canton',
                                '@service.District',
                                '@service.Latitude',
                                '@service.Longitude',
                                '@service.StartDate',
                                '@service.EndDate',
                                '@service.Price',
                                '@service.Enabled',
                                '@service.PictureID'
					        )"
                            class="btn btn-success"/>
                    </td>
                </tr>
		        @*********@
                i = i + 1;
		        @*********@
             }  
        </tbody>
    </table>
}   

@section Scripts {
    <!-- funcion para cambiar a valor la cantidad -->
    <script type="text/javascript" language="javascript">
        function AddValue(i,price)
        {
            var total = $("#dropdown" + i + " Option:Selected").val();

            $("#Total" + i).text(total * price);
            $("#Quanty").text(total);
        }

        function AddService(i, id, randid, ownn, name, descrip, 
                        cat, prov, cant, dist, lon, lat, dstart, dend, price, ena, photo)
        {
            var qnt = $("#dropdown" + i + " Option:Selected").val();
            $.post("@Url.Action("Add","Car")", {
                qnt: qnt,
                id:id,
                randid: randid,
                ownn: ownn,
                name: name,
                descrip: descrip,
                cat: cat,
                prov: prov,
                cant: cant,
                dist: dist,
                lon: lon,
                lat: lat,
                dstart: dstart,
                dend: dend,
                price: price,
                ena: ena,
                photo: photo
                    }, function (data) {
                    alert("Se ha guardado el servicio al carrito");
                });
        }
    </script>

}

<style>  
    table#t02 {  
        width: 100%;  
        background-color: #f1f1c1;  
    }
    table#t02 tr:nth-child(even) {  
        background-color: #eee;  
    }  
    table#t02 tr:nth-child(odd) {  
        background-color: #fff;  
    }  
    table#t02 th {      
        color: white;  
        background-color:#50896d;  
    }  
    table, th, td {  
        border: 1px solid black;  
    }  
    table, th, td {  
        border: 1px solid black;  
        border-collapse: collapse;  
    }  
    table, th, td {  
        border: 1px solid black;  
        border-collapse: collapse;  
    }  
    th, td {  
        padding: 10px;
    }  
</style> 
