@using MongoDB.Bson;
@using static System.Convert;
@using Neo4jClient;
@model TurismoCR.Models.Service;

@{
    ViewData["Title"] = "Paquetes Turísticos En Oferta";
    List<Service> enabledServices = ViewBag.enabledServices as List<Service>;
    var i = 1;
    var quant = 1; 
    
}

<h2>@ViewData["Title"]</h2>
<br>
@using (Html.BeginForm(FormMethod.Post))
{
    <table id="t02">
        <thead>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Categoria</th>
            <th>Provincia</th>
            <th>Cantón</th>
            <th>Distrito</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Precio</th>
		    <th>Contacto</th>
		    <th>Mapa</th>
            <th>Cantidad</th>
            <th>Total </th>
            <th>Agregar a carrito</th>
        </thead>
        <tbody>
            
            @foreach (var service in enabledServices)
            {
                var Total = "Total" + i; 
                <tr>
                    <td>@service.Name</td>
                    <td>@service.Description</td>
                    <td>@service.Category</td>
                    <td>@service.Province</td>
                    <td>@service.Canton</td>
                    <td>@service.District</td>
                    <td>@service.StartDate</td>
                    <td>@service.EndDate</td>
                    <td>@service.Price</td>
                    @* Owner Contact *@
			        @{          try
                        {
                            // setting Neo4j connection
                            var client = new GraphClient(
                                // cambiar password (adrian) por el de su base Neo4j
                                new Uri("http://localhost:7474/db/data"), "neo4j", "chavacampos14"
                            );
                            client.Connect();
                            var ownerConsulted = client
                                    .Cypher
                                    .Match("(userNeo4j:User)")
                                    .Where((User userNeo4j) => userNeo4j.UserName == @service.OwnerUsername)
                                    .Return(userNeo4j => userNeo4j.As<User>())
                                    .Results;
                            if (ownerConsulted.Any())
                            {
                                var foundOwner = ownerConsulted.First();
			                    <td>
                                    @foundOwner.Name @foundOwner.LastName1 @foundOwner.LastName2
                                    @foundOwner.PhoneNumber
                                    @foundOwner.Email
                                </td>         }
                            else
                            {
			                    <td> No hay datos para mostrar. </td>
                            }

                        }
                        catch
                        {
			                <td> No hay datos para mostrar. </td>
                        }
			        }
			        <td>
                        <p data-placement="top" data-toggle="tooltip" title="Mapa">
                            <a class="btn btn-primary btn-xs" data-title="map" 
                                data-toggle="modal" data-target="#map"
						        onclick="location.href='https://www.google.com/maps/?q=@service.Latitude,@service.Longitude'">
                                Mapa
                            </a>
                        </p>
                    </td>
                    <td>@Html.DropDownList("dropdown"+ i, new SelectList(
                  new List<Object>{
                       new { value = 1*Int32.Parse(service.Price) , text = "1"  },
                       new { value = 2*Int32.Parse(service.Price) , text = "2" },
                       new { value = 3*Int32.Parse(service.Price), text = "3"},
                       new { value = 4*Int32.Parse(service.Price) , text = "4"},
                       new { value = 5*Int32.Parse(service.Price), text = "5"},
                       new { value = 6*Int32.Parse(service.Price), text = "6"},
                       new { value = 7*Int32.Parse(service.Price), text = "7"},
                       new { value = 8*Int32.Parse(service.Price), text = "8"},
                       new { value = 9*Int32.Parse(service.Price), text = "9"},
                       new { value = 10*Int32.Parse(service.Price), text = "10"}
                    },
                  "value",
                  "text"),new { onchange= "AddValue("+i+")" })
                    </td>
                    <td id=@Total>@service.Price</td>
                    <td>
                        <!-- Problema !!!! NO se puede mezclar javascript con C#  Se le pone el parametro fijo a la funcion 
                            Si se pudiera hacer tal vez una variable global, pero no se puede pasar por parametro service a una 
                            funcion de javascript. 
                            $ajax tampoco es una solucion. 
                            <input type="submit" value="Agregar" name="Edit" onclick="AddService("i,service");" 
                                class="btn btn-success" />
                           
                            function AddService(i, ser) {
                            var Quant = $("#dropdown" + i + " Option:Selected").text();
                            $("#Total" + i).text(Quant);
            
                            }

                            Cear un array de servicios coger la pos y accerder al array de servicio mediante el i

                            -->
                        
                        <input type="submit" value="Agregar" name="Edit" formaction="@Url.Action("AddService", "Car", new CarService(service,"7"))" 
                               formmethod="post" class="btn btn-success" />

                    </td>
                </tr>
                i = i+1;
             }
             
        </tbody>
    </table>
    <span id="xxx"></span>
}   


@section Scripts {
<!-- Funcion para cambiar a valor la cantidad -->
<script type="text/javascript">
        function AddValue(i)
        {    
            var total = $("#dropdown" + i + " Option:Selected").val();
            $("#Total" + i).text(total);  
            var value = $("#dropdown" + i + " Option:Selected").text();
            
            
        }
</script>


}
<style>  
    table#t02 {  
        width: 100%;  
        background-color: #f1f1c1;  
    }
    table#t02 tr:nth-child(even) {  
        background-color: #eee;  
    }  
    table#t02 tr:nth-child(odd) {  
        background-color: #fff;  
    }  
    table#t02 th {  
        color: white;  
        background-color:#50896d;  
    }  
    table, th, td {  
        border: 1px solid black;  
    }  
    table, th, td {  
        border: 1px solid black;  
        border-collapse: collapse;  
    }  
    table, th, td {  
        border: 1px solid black;  
        border-collapse: collapse;  
    }  
    th, td {  
        padding: 10px;
    }  
</style> 
