@using MongoDB.Bson;
@model TurismoCR.Models.Service;

@{
    ViewData["Title"] = "Catálogo de Paquetes";
    ViewData["Message"] = "Página para editar o borrar paquetes turísticos";
    List<Service> ownerServices = ViewBag.ownerServices as List<Service>;
}

<h2>@ViewData["Title"]</h2>

@*<div>
    @{
        foreach (var servicio in serviciosPropietario) {
            <label value="@servicio.Id">
                @servicio.Descripcion
            </label>
            <input type="button" value="Editar Servicio" onclick="location.href='@Url.Action("EditarServicio", "Servicio", idServicio)'" />
            <input type="button" value="Borrar Servicio" onclick="location.href='@Url.Action("BorrarServicio", "Servicio", servicio.Id)'" />
        }

    }
</div>*@
