@using MongoDB.Bson;
@model TurismoCR.Models.Servicio;

@{
    ViewData["Title"] = "Catálogo servicio";
    ViewData["Message"] = "Página para editar o borrar servicio/paquete turístico";
    List<Servicio> serviciosPropietario = ViewBag.ServiciosPropietario as List<Servicio>;
}

<h2>@ViewData["Title"]</h2>

<div id="servicioId">
    @{
        foreach (var servicio in serviciosPropietario)
        {

            <label value="@servicio.Id">
                @servicio.Descripcion
            </label>
            <input type="button" value="Editar Servicio" onclick="location.href='@Url.Action("EditarServicio", "Servicio", idServicio)'" />
            <input type="button" value="Borrar Servicio" onclick="location.href='@Url.Action("BorrarServicio", "Servicio", servicio.Id)'" />
        }

    }
</div>
