<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TurismoCR</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        
        <!-- Pickadate -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.date.css" rel="stylesheet">
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/animate.css" />

        <!-- Pickadate -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.date.css" rel="stylesheet">
    </environment>

    
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">TurismoCR</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Principal</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Acerca de</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contacto</a></li>
                </ul>
                <!-- navbar-right -->
                @if (Context.Request.Cookies["userSession"] != null && Context.Request.Cookies["rolSession"] != null) {
                    var userCookie = Context.Request.Cookies["userSession"];
                    var userName = userCookie.ToString();
                    var rolCookie = Context.Request.Cookies["rolSession"];
                    var rolName = rolCookie.ToString();
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a asp-area="" asp-controller="" asp-action="">
                                @userName
                            </a>
                        </li>
                        @if (rolName == "Administrator")
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Usuarios<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-area="" asp-controller="User" asp-action="RegisterAdmin">
                                            Registrar Usuario
                                        </a>
                                    </li>  

                                    <li>
                                        <a asp-area="" asp-controller="User" asp-action="DisableView">
                                            Control de Usuarios
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (rolName == "Client") 
                        {
						    <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Opciones<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
        						    <li>
                                        <a asp-area="" asp-controller="User" asp-action="FollowView">
                                            Seguir
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Service" asp-action="SearchServiceAux">
                                            <span class="glyphicon glyphicon-search"></span> Buscar
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Car" asp-action="Index">
                                            <span class="glyphicon glyphicon-shopping-cart"></span> Carrito
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Orden" asp-action="Index">
                                            Órdenes
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Reseña" asp-action="MisReseñas">
                                            Reseñas
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Reseña" asp-action="ReseñasAmigos">
                                            Reseñas Amigos
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Service" asp-action="ObtenerRecomendaciones">
                                            Recomendaciones
                                        </a>
                                    </li>
								</ul>
                            </li>
                        }
                        @if (rolName == "Owner") {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Paquetes Turísticos<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-area="" asp-controller="Service" asp-action="AddService">
                                            Publicar Paquete
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Service" asp-action="ShowServices">
                                            Ver Paquetes
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li>
                            <a asp-area="" asp-controller="User" asp-action="LogOut">
                                Cerrar Sesión
                            </a>
                        </li>
                    </ul>
                    @Html.Raw(TempData["msg"])
                } else {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a asp-area="" asp-controller="User" asp-action="Login">Iniciar Sesión</a></li>
                        <li><a asp-area="" asp-controller="User" asp-action="Register">Registrarme como Cliente</a></li>
                        <li><a asp-area="" asp-controller="User" asp-action="RegisterOwnerPlace">Registrarme como Propietario</a></li>
                    </ul>
                    @Html.Raw(TempData["msg"])
                }
                <!-- navbar-right -->
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TurismoCR</p>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- Pickadate-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.date.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        
        <!-- Pickadate-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.date.js"></script>

    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
